@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}

body{
  background: hsl(222, 26%, 31%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
